<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conveeeerly | {% block title %} {% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>   
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCNPCM5F4M"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-94JKNXSYGM');
    </script>

</head>

<body>


    <div id="wrapper">
        <div id="logo">Convertly <i class="bi bi-youtube"></i></div>
        <a target="_blank" href="//oulsools.com/4/6212020"><img id="mainad" src="{{url_for('static', filename='media/mainad.png')}}" alt=""/></a>
        <p><b>Convert & Download Youtube videos in your prefered format! </b> </p>
        <div id="search-wrapper">
            <input id="mediaUrl"  type="text" placeholder="Your Youtube Link" />
            <i class="bi bi-search" onclick="validateUrl()" ></i>
        </div>

        <div id="events-wrapper">
            <div id="loading">
                <div id="loading-bar" ><img src="{{url_for('static', filename='media/giphy.gif')}}" alt=""></div>
                <p>Won't take more than a minute ! <br> Please wait </p>
            </div>
            <br>
            <footer>
                Convertly is the easiest and most free Youtube MP3 converter to convert and download youtube videos to mp3 format in the best available <br> By using our online YT to MP3 converter, you can quickly convert and download your favorite videos to audio files without the need of installing any application!.
            </footer>
           
        </div>

    </div>
  
    {% block body %}
    
    {% endblock %}  
<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>