<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conveeeerly | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>   
</head>

<body>


    <div id="wrapper">
        <div id="logo">Convertly <i class="bi bi-youtube"></i></div>
        <a target="_blank" href="//oulsools.com/4/6212020"><img id="mainad" src="{{url_for('static', filename='media/mainad.png')}}" alt=""/></a>
        <p><b>Convert & Download Youtube videos in your prefered format! </b> </p>
        <div id="search-wrapper">
            <input id="mediaUrl"  type="text" placeholder="Your Youtube Link" />
            <i class="bi bi-search" onclick="validateUrl()" ></i>
        </div>

        <div id="events-wrapper">
            <div id="loading">
                <div id="loading-bar" ><img src="{{url_for('static', filename='media/giphy.gif')}}" alt=""></div>
                <p>Won't take more than a minute ! <br> Please wait </p>
            </div>
            <br>
            <a id="download-ready" onclick='notification()' href='' download><p class='mssg'>Download</p></a>
        </div>

    </div>
  
    {% block body %}
    
    {% endblock %}  
<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>